.git
.github
.idea
.vscode

node_modules
**/node_modules

tmp
**/tmp
coverage
**/coverage
dist
**/dist
build
**/build

docker/.runtime
*.log

autobyteus-web/electron-dist
autobyteus-web/resources
autobyteus-web/.nuxt
autobyteus-web/.output
