[submodule "autobyteus-web"]
	path = autobyteus-web
	url = https://github.com/AutoByteus/autobyteus-web.git
	branch = personal
[submodule "autobyteus-server-ts"]
	path = autobyteus-server-ts
	url = https://github.com/AutoByteus/autobyteus-server-ts.git
	branch = personal
[submodule "autobyteus-ts"]
	path = autobyteus-ts
	url = https://github.com/AutoByteus/autobyteus-ts.git
	branch = personal
[submodule "autobyteus-message-gateway"]
	path = autobyteus-message-gateway
	url = https://github.com/AutoByteus/autobyteus-message-gateway.git
	branch = personal
